@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&display=swap");

* {
  font-family: "Bebas Neue", cursive;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;

  background-color: #6586A2;
}

header {
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;

  position: fixed;

  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: solid #ECEAD4 0.1vh;

  z-index: 2;

}

.logo {
  color: #ECEAD4;
  text-decoration: none;

  font-size: 5vh;
}

nav li,
a {
  list-style: none;
  text-decoration: none;
  color: #ECEAD4;

  display: inline-block;
  padding: 0px 3vw;

  font-size: 3vh;
}

header button {
  margin-right: 1vw;

  padding: 1vh 0.8vh;
  font-size: 3vh;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5vw;
  border: none;

  color: #ECEAD4;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* Main Body CSS */
.firstBody {
  width: 100vw;
  height: 80vh;

  padding-top: 25vh;
  margin-bottom: 25vh;
}

.leftBox {
  width: 50%;
  height: 100%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionBox h1 {
  font-size: 8vw;
  color: black;
}

.descriptionBox p {
  font-size: 2.3vw;
}

.actionButtons {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.actionButtons a {
  font-size: 2vw;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1vw;

  color: black;
}

.actionButtons a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.rightBox {
  width: 50%;
  height: 100%;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landingGIF {
  width: 80%;
}

/* Sponsorship CSS */
#sponsorship {
  background-color: #333333;

  color: white;

  height: 40vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  scroll-margin-top: 10vh;
}

#sponsorship h2 {
  padding-top: 1vh;
  font-size: 3vw;
}

#sponsorship button {
  margin-top: 4vh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);

  font-size: 1.5vw;

  border: none;
  border-radius: 0.5vw;

  padding: 1vh 1vh;
  
}

#sponsorship button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Second Body Block CSS */
#secondBody {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #444444;

  color: white;

  scroll-margin-top: 10vh;
}

#secondBody h1 {
  font-size: 4vw;
}

.threeWay {
  width: 100%;
  height: 80%;

  display: flex;
}

.threeWay h2 {
  font-size: 2vw;
  color: white;
}

.what,
.where,
.when {
  flex: 1;
  padding: 3vw;

  color: #d3d3d3;
  font-size: 1.5vw;
  font-family: "Kanit", sans-serif;
}

/* Contact CSS */
#contact {
  height: 25vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #444444;

  color: white;

  scroll-margin-top: 10vh;

  padding-bottom: 2vh;
}

#contact h1 {
  font-size: 3vw;
}

#contact h2 {
  padding-top: 1vh;
  padding-bottom: 0.5vh;

  font-size: 1.5vw;
}

#contact a {
  padding-top: 1vh;

  all: initial;

  color: white;
}

/* footer css */
footer {
  height: 10vh;
  width: 100vw;

  background-color: #222222;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! About CSS */
#aboutUs {

  background-color: #444444;
  color: white;
  
  scroll-margin-top: 10vh;
}

/* .containerImage {
  background-image: url("/assets/chessBackground.jpg");
  background-size: auto auto;
  background-position: center 0px;

  height: 15vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.containerImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: black; 
}

.containerImage h1 {
  font-size: 10vh;
  opacity: 1;
  color: white;
  position: relative; 
  z-index: 1; 
} */

.containerImage h1 {
  color: #8daabe;
  font-size: 10vh;
}

#aboutUs h2 {
  padding-bottom: 1vh;
  font-size: 5vh;
}

#aboutUs p {
  font-size: 3vh;

  padding-bottom: 2vh;
}


#founders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #333333;

  scroll-margin-top: 10vh;

  padding-bottom: 3vh;
}


.row1FounderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vh 0px;

  width: 80vw;
}

.row2FounderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 9vh 0 1vw 0px;

  width: 50vw;
}

.founder {
  width: 13vw;
  height: 16vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  color: white;
}

.founder img {
  width: 80%;
  height: 80%;

  flex-basis: 100%;
}

.founder h2 {
  padding: 0.1vw 0.1vw;
  font-size: 1.5vw;
}
