@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&display=swap");

* {
  font-family: "Bebas Neue", cursive;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;

  background-color: #d3d3d3;
}

header {
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;

  position: fixed;

  background-color: rgba(211, 211, 211, 0.9);
  border-bottom: solid black 0.1vh;
}

.logo {
  color: black;
  text-decoration: none;

  font-size: 5vh;
}

nav li,
a {
  list-style: none;
  text-decoration: none;
  color: black;

  display: inline-block;
  padding: 0px 3vw;

  font-size: 3vh;
}

header button {
  margin-right: 1vw;

  padding: 1vh 0.8vh;
  font-size: 3vh;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  border: none;
}

header button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Main Body CSS */
.firstBody {
  width: 100vw;
  height: 80vh;

  padding-top: 25vh;
}

.leftBox {
  width: 50%;
  height: 100%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionBox h1 {
  font-size: 8vw;
  color: rgb(72, 114, 156);
}

.descriptionBox p {
  font-size: 2.3vw;
}

.actionButtons {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.actionButtons a {
  font-size: 2vw;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
}

.actionButtons a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.rightBox {
  width: 50%;
  height: 100%;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landingGIF {
  width: 80%;
}

/* Second Body Block CSS */
.secondBody {
  height: 90vh;
  width: 100vw;

  margin-top: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #444444;

  color: rgb(72, 114, 156);
}

.secondBody h1 {
  font-size: 6vw;
}

.threeWay {
  width: 100%;
  height: 80%;

  display: flex;
}

.threeWay h2 {
  font-size: 3vw;
  color: rgb(72, 114, 156);
}

.what,
.where,
.when {
  flex: 1;
  padding: 3vw;

  color: #d3d3d3;
  font-size: 1.5vw;
  font-family: "Kanit", sans-serif;
}

/* ! About CSS */

.mission {
  height: 40vh;

  padding-top: 10%;

  align-items: center;
  justify-content: center;
  display: flex;
}

.founders {
  padding-top: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.founders h1 {
  font-size: 6vw;
  color: rgb(72, 114, 156);
  background-image: url("/assets/chessBackground.jpg");
  background-position: center 80%;

  width: 100vw;
  height: 15vh;
}

.row1FounderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vh 0px;

  width: 80vw;
}

.row2FounderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 9vh 0 1vw 0px;

  width: 50vw;
}

.founder {
  width: 13vw;
  height: 16vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.founder img {
  width: 90%;
  height: 90%;

  flex-basis: 100%;
}

.founder h2 {
  padding: 0.1vw 0.1vw;
  font-size: 1.5vw;
}
